tr(id="student-"+ stats.id,class="status-" + stats.style)
    td
        span.checkbox
            input(type="checkbox")
            label
                a(href="mailto:#{stats.email}") #{stats.username}