extends layout
block content
    nav.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href="#") Dashboard
            div.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#",onclick="logout()")
                            i.glyphicon.glyphicon-off

    div.container
        h1.page-header Mes candidatures
        button.btn.btn-success(data-toggle="modal",data-target="#modal-newApplication") Nouvelle candidature

        table.table#applications
            thead
                tr
                    th Date
                    th Entreprise
                    th Actions
            tbody
                each application in applications
                    include application_line

        div.modal.fade.in(tabindex="-1",role="dialog")#modal-newApplication
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        h3 Déposer une candidature
                    div.modal-body#newApplication
                        div.form-group
                            label(for="companyInput") Entreprise
                            input(type="text", placeholder="Nom de l'entreprise").form-control#companyInput
                        div.form-group
                            label(for="descInput") Description de l'offre
                            textarea.form-control(rows="5")#descInput
                        div.form-group
                            label(for="dateInput") Date de la candidature
                            input(type="date")#dateInput
                    div.modal-footer
                        button.btn.btn-success(data-dismiss="modal",onclick="newApplication()").btn.btn-default Déposer
                        button.btn.btn-danger(data-dismiss="modal") Annuler


