.action_button{
    padding: 5px;
    cursor: pointer;
}

.app-granted {
    background-color: #dff0d8;
}
.app-open {
    background-color: inherit;
}
.app-denied {
      background-color: #f2dede;
}

.login {
    margin-top: 100px;
}